<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> contact </title>

</head>
<body>

{% block body %}
    first name:{{ tableaux[0] }};<br>
    last name :{{ tableaux[1] }};<br>
    address :{{ tableaux[2] }};<br>
    mail :{{ tableaux[3] }};<br>
{% endblock %}
</body>
</html>
